
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;

}
a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}
.parrafo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px;
    text-align: center;
}
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px;
    text-align: center;
}
h3{
    color: white;
}

h4,h3,h5,h6{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
.contenedor{
    margin: auto;
    background-color:#e5e5e5;
    padding: 8px;
    width: 500px;
    border: 2px solid;
    height: 700px;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-left: 1em; 
    text-indent: -1em; 
}

.izquierda,
.centro,
.derecha {
    float: left;
    width: 33.33%; 
    box-sizing: border-box; 
    height: 680px;
}

.foto{
    margin: auto;
    background-image: url("../images/foto2.png");
    background-size: cover;
    background-position: center;
    padding: 5px;
    width: 80%;
    height: 160px;
    border-radius: 70px;
}

.contenido_izq,.contenido_izq_ab,.contenido_cen,.contenido_der,.contenido_der_cen,.contenido_der_ab{
    background-color: #F5EEE6;
    border-radius: 5px;
}
.contenido_izq{
    margin: auto;
    padding: 5px;
    width: 80%;
    height: 257px; 
}


.contenido_izq_ab{
    margin: auto;
    padding: 5px;
    width: 80%;
    height: 212px;
}

.contenido_cen{
    margin: auto;
    padding: 5px;
    width: 80%;
    height: 685px;
}
.contenido_der{
    margin: auto;
    padding: 5px;
    width: 80%;
    height: 235px;
}

.contenido_der_cen{
    margin: auto;
    padding: 5px;
    width: 80%;
    height: 222px;
}
.contenido_der_ab{
    margin: auto;
    padding: 5px;
    width: 80%;
    height: 172px;
}